@import "tailwindcss";

@theme {
	--color-neutral-5: #f7f7f7;
	--color-primary: #1d1d1d;
	--color-secondary: #0a0a0a;
}

html {
	font-size: 16px;
}

body {
	font-family: "Inter", sans-serif;
}

.qr {
	border-radius: 16px;
	border: 1px solid #f5f5f5;
	background: #f7f7f7;
	box-shadow: 0 0 0 0.5px rgba(10, 10, 10, 0.1),
		0 24px 48px 0 rgba(10, 10, 10, 0.03), 0 10px 18px 0 rgba(10, 10, 10, 0.03),
		0 5px 8px 0 rgba(10, 10, 10, 0.04), 0 2px 4px 0 rgba(10, 10, 10, 0.04);
}
